* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.images img {
	max-width: 20%;
	height: 150px;
	margin: 2%;
}

.title {
	color: sienna;
}

.notes {
	list-style: none;
	font-style: italic;
	padding: 0px;
}